{% extends "participant/base.html" %}

{% load i18n bootstrap_toolkit custom_scientist_tags %}

{% block content %}
    <div id="main">
        <div class="page-header breadcrumbs">
            <ul>
                <li>
                    <a href="{% url "home" %}">{% trans "Home" %}</a>
                    <i class="icon-angle-right"></i>
                </li>
                <li>
                    <a href="#">{% trans "Scientists payment history" %}</a>
                </li>
            </ul>
            <div class="close-bread">
                <a href="#"><i class="icon-remove"></i></a>
            </div>
        </div>

        <div class="row-fluid">
            <div class="box box-color box-bordered">
                <div class="box-title">
                    <h3>
                        <i class="icon-table"></i>{% trans "Scientist payment history list" %}
                    </h3>
                </div>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin">
                    <thead>
                    <tr>
                        <th>{% trans "Study" %}</th>
                        <th>{% trans "Scientist" %}</th>
                        <th>{% trans "Award" %}</th>
                        <th>{% trans "Payment type" %}</th>
                        <th>{% trans "Payment datetime" %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in scientist_payment_history_list %}
                        <tr>
                            <td>{{ item.name }}</td>
                            <td>{% get_scientist_name item %}</td>
                            <td>{{ item.total_credit }}</td>
                            <td>{{ item.payment_type }}</td>
                            <td>{{ item.payment_dt|date:'Y-m-d H:i:s' }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}