{% extends "userprofile/base.html" %}

{% load i18n %}

{% block userprofile_tab %}
<ul class="tabs tabs-inline tabs-top">
    <li>
        <a href="{% url "basic_info" user.username %}"><i class="icon-user"></i> {% trans "Basic Info" %}</a>
    </li>
    {% if request.session.user_type == "participant" %}
        <li>
            <a href="{% url "question_info" user.username %}"><i class="icon-question-sign"></i> {% trans "Question" %}</a>
        </li>
    {% endif %}
    <li class="active">
        <a href="{% url "account_change_password" %}"><i class="icon-key"></i> {% trans "Change Password" %}</a>
    </li>
    <li>
        <a href="{% url "account_email" %}"><i class="icon-envelope"></i> {% trans "Account Email" %}</a>
    </li>
    <li>
        <a href="{% url "userrole" %}"><i class="icon-exchange"></i> {% trans "User Role" %}</a>
    </li>
    <li>
        <a href="{% url "account" %}"><i class="icon-remove-sign"></i> {% trans "Delete Account" %}</a>
    </li>
</ul>
{% endblock %}

{% block userprofile_panel %}
<form method="POST" action="#" class="form-horizontal">
    {% csrf_token %}
    <div class="control-group required {% if password_change_form.oldpassword.errors %}error{% endif %}">
        <label class="control-label" for="id_oldpassword">{% trans "Current Password" %}</label>
        <div class="controls">
            <input id="id_oldpassword" name="oldpassword" placeholder="Password" type="password">
            <span class="help-inline">{{ password_change_form.oldpassword.errors.0 }}</span>
        </div>
    </div>
    <div class="control-group required {% if password_change_form.password1.errors %}error{% endif %}">
        <label class="control-label" for="id_password1">{% trans "New Password" %}</label>
        <div class="controls">
            <input id="id_password1" name="password1" placeholder="Password" type="password">
            <span class="help-inline">{{ password_change_form.password1.errors.0 }}</span>
        </div>
    </div>
    <div class="control-group required {% if password_change_form.password2.errors %}error{% endif %}">
        <label class="control-label" for="id_password2">{% trans "New Password (again)" %}</label>
        <div class="controls">
            <input id="id_password2" name="password2" placeholder="Password" type="password">
            <span class="help-inline">{{ password_change_form.password2.errors.0 }}</span>
        </div>
    </div>
    <div class="form-actions-custom">
        <input type="submit" class="btn btn-primary" value="Change password">
        <input type="reset" class="btn" value="Discard changes">
    </div>
</form>
{% endblock %}