<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Home page</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-responsive.min.css" rel="stylesheet">
	<link href="css/themes.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
</head>
<body>

<header>
	<div class="container">
		<div class="row-fluid">
			<div class="span10">
				<a href="#" class="logo"><img src="img/logo.png" alt="" /></a>
				<h1>Contribute to Science</h1>
			</div>
			<div class="span2">
				<a href="#" class="sign-in">Sign in</a>
			</div>
		</div>
	</div>
</header>

<nav class="navbar">
	<div class="container">
		<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</a>
		<div class="nav-collapse">
			<ul class="nav">
				<li><a href="#what-to-expect">What to Expect</a></li>
				<li><a href="#studies-in-your-area">Studies in your area</a></li>
				<li><a href="#web-studies">Online Studies You Can Do Now</a></li>
				<li><a href="#">Sign Up</a></li>
				<li><a href="#">Honesty Statement</a></li>
				<li><a href="#">Altruisem</a></li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</nav>

<div id="slider">
	<div class="container">
		<div class="slideshow">
			<div class="slide">

				<div class="slide-media">
					<img src="img/img01.jpg" alt="" />
				</div>
			</div>
			<div class="slide">

				<div class="slide-media">
					<img src="img/img01.jpg" alt="" />
				</div>
			</div>
			<div class="slide">

				<div class="slide-media">
					<img src="img/img01.jpg" alt="" />
				</div>
			</div>
		</div>
		<div id="slider-nav"></div>
	</div>
</div><!-- end slider -->

<div id="content">
	<div id="home-content">
		<section id="what-to-expect" class="clearfix">
			<h2>What to expect</h2>
			<div class="clearfix"></div>
			<div id="video-blogs" class="clearfix">
				<div class="current-playing">
					<h3>Video Blogs</h3>
					<div class="play-frame">
						<img src="img/video-holder.jpg" width="512" height="287" alt="" />
					</div>
					<p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
				</div>
				<div class="play-list">
					<ul class="list-unstyled clearfix">
						<li><img src="img/img02.jpg" width="203" height="113" alt="" /></li>
						<li class="even"><img src="img/img03.jpg" width="203" height="113" alt="" /></li>
						<li><img src="img/img03.jpg" width="203" height="113" alt="" /></li>
						<li class="even"><img src="img/img03.jpg" width="203" height="113" alt="" /></li>
						<li><img src="img/img03.jpg" width="203" height="113" alt="" /></li>
						<li class="even"><img src="img/img03.jpg" width="203" height="113" alt="" /></li>
						<li class="last-row"><img src="img/img03.jpg" width="203" height="113" alt="" /></li>
						<li class="even last-row"><img src="img/img03.jpg" width="203" height="113" alt="" /></li>
					</ul>
				</div>
			</div>
		</section>

		<section id="studies-in-your-area">
			<h2>Studies in your area</h2>
			<div class="clearfix"></div>
			<div class="map">
				<div class="map-inner">
					<img src="img/map-holder.jpg" alt="" />
				</div>
			</div>
		</section>

		<section id="register-buttons" class="clearfix">
			<article class="button1 clearfix">
				<img class="icon" src="img/icon-take-part-in.png" width="205" height="215" alt="Contribute to Science" />
				<div>
					<a href="#" class="btn btn-default">Take Part in Research</a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				</div>
			</article>
			<article class="button2 clearfix">
				<img class="icon" src="img/icon-recruit.png" width="144" height="156" alt="" />
				<div>
					<a href="#" class="btn btn-default">Recruit Participants</a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				</div>
			</article>
			<article class="button3 clearfix">
				<img class="icon" src="img/icon-co-ordinate.png" width="134" height="217" alt="" />
				<div>
					<a href="#" class="btn btn-default">Co-ordinate Research</a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				</div>
			</article>
		</section>


		<section id="web-studies" class="clearfix">
			<h2>Web Studies you can do now</h2>
			<div class="clearfix"></div>
			<div class="row">
				<div class="span4 col1">
					<img src="img/img04.jpg" width="309" height="207" alt="" />
					<h3>Filantropic studies</h3>
					<h4>University of Albakerky</h4>
					<div class="earn">Earn 18 $</div>
					<p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est</p>
				</div>
				<div class="span4 mid">
					<img src="img/img04.jpg" width="309" height="207" alt="" />
					<h3>Filantropic studies</h3>
					<h4>University of Albakerky</h4>
					<div class="earn">Earn 18 $</div>
					<p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est</p>
				</div>
				<div class="span4">
					<img src="img/img04.jpg" width="309" height="207" alt="" />
					<h3>Filantropic studies</h3>
					<h4>University of Albakerky</h4>
					<div class="earn">Earn 18 $</div>
					<p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est</p>
				</div>
			</div>
			<a href="#" class="more">More studies</a>
		</section>

		<section id="donate">
			<h2>Donate</h2>
			<div class="clearfix"></div>
			<div class="row">
				<div class="span4 col1">
					<img class="icon" src="img/icon-hosting.png" width="200" height="132" alt="" />
					<p>Hosting fees<br /><strong>2000 $</strong><br />so far...</p>
				</div>
				<div class="span4 col2">
					<img class="icon" src="img/pig.png" width="130" height="200" alt="" />
					<p>Hosting fees<br /><strong>2000 $</strong><br />so far...</p>
				</div>
				<div class="span4 col3">
					<p>This app relies<br />on donations</p>
					<form action="#" method="post" role="form">
						<input type="text" name="amount" class="form-control" placeholder="Type the amount for donation" />
						<button type="submit" class="btn btn-default btn-lg btn-block">Donate</button>
					</form>
					<img class="bill-add" src="img/bill-add.png" width="129" height="103" alt="" />
					<img class="paypal" src="img/paypal.png" width="135" height="41" alt="" />
					<img class="credit-cards" src="img/credit-cards.png" width="209" height="31" alt="" />
				</div>
			</div>
		</section>

		<section id="honesty-statement">
			<img class="statement" src="img/honesty-statement.png" width="354" height="352" alt="" />
			<p>We are scientists. We built this app out of our love of science. We believe there are a lot of people out there who love science just like us!</p>
			<h3>Our goals are, to:</h3>
			<p>
				- make it easy for anyone to contribute to science.<br />
				- speed up scientific discovery by making it easy for the scientist to recruit participants<br />
				- sponsor new science<br />
				- do so in a just and fair way.<br />
			</p>
			<p>We fund this app via donation and by charging a fee for business related research. For example, you can choose to donate to us some of the money scientists reimburse you for doing their research.</p>
		</section>
	</div><!-- end home-content -->
</div><!-- end content -->

<footer>
	<div class="top-bg"></div>
	<div class="container">
		<h2>Contact</h2>
		<div class="row-fluid">
			<div class="span3">
				<address>
					Address:<br />
					Ja’n Darc 12<br />
					Lousane 120000<br />
					Switzerland CH
				</address>
			</div>
			<div class="span4">
				<p>
					Email: <a href="mailto:info@contributetoscience.org">info@contributetoscience.org</a><br />
					Phone: 1 202 456 7463
				</p>
			</div>
			<div class="span5">
				<ul class="list-unstyled list-inline">
					<li><a href="#">About us</a></li>
					<li><a href="#">Privacy Statement</a></li>
					<li><a href="#">Terms of Reference</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>

<!-- Load JS here for greater good =============================-->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.cycle.all.js"></script>
<script src="js/jquery.scrollTo-min.js"></script>
<script src="js/master.js"></script>
</body>
</html>