<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Sub page</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-responsive.min.css" rel="stylesheet">
	<link href="css/themes.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
</head>
<body>

	<header>
		<div class="container">
			<div class="row-fluid">
				<div class="span10">
					<a href="#" class="logo"><img src="img/logo.png" width="118" height="107" alt="" /></a>
					<h1>Contribute to Science</h1>
				</div>
				<div class="span2">
					<div class="avatars">Jeffery's Avatars</div>
					<div class="payments">0 payments</div>
				</div>
			</div>
		</div>
	</header>

	<div id="content">
		<div id="participate">
			<div class="container clearfix">

				<div class="box score">
					<table>
						<tr>
							<td class="label-text">Good participant score:</td>
							<td width="50"></td>
							<td><img class="stars" src="img/three-stars.png" width="208" height="65" alt="" /></td>
						</tr>
						<tr>
							<td class="label-text">Studies to date:</td>
							<td width="50"></td>
							<td class="date">42</td>
						</tr>
						<tr>
							<td class="label-text">Science Altruist score:</td>
							<td width="50"></td>
							<td class="donated">33% donated</td>
						</tr>
					</table>
				</div>

				<div class="box online-research">
					<div class="row1 clearfix">
						<img src="img/pc.png" width="200" height="138" alt="" />
						<a href="#" class="btn btn-default">Online Research</a>
					</div>
					<div class="row2 clearfix">
						<img src="img/flask.png" width="200" height="201" alt="" />
						<a href="#" class="btn btn-default btn1">lab-based research in your area</a>
						<a href="#" class="btn btn-default">world map of lab-based research</a>
					</div>
					<p>See lab-based research in your area or do an online study now</p>
				</div>

				<div class="box calendar-clipboard clearfix">
					<div class="row-left">
						<img src="img/Calendar.png" width="100" height="100" alt="" />
						<p>See when I am signed up to do research</p>
						<a href="#" class="btn btn-default">Study Calendar</a>
					</div>
					<div class="row-right">
						<img src="img/Clipboard.png" width="100" height="100" alt="" />
						<p>See when I am signed up to do research</p>
						<a href="#" class="btn btn-default">List of my studies</a>
					</div>
				</div>
			</div>
		</div>
	</div><!-- end content -->

	<footer>
		<div class="top-bg"></div>
		<div class="container">
			<h2>Contact</h2>
			<div class="row-fluid">
				<div class="span3">
					<address>
						Address:<br />
						Ja’n Darc 12<br />
						Lousane 120000<br />
						Switzerland CH
					</address>
				</div>
				<div class="span4">
					<p>
						Email: <a href="mailto:info@contributetoscience.org">info@contributetoscience.org</a><br />
						Phone: 1 202 456 7463
					</p>
				</div>
				<div class="span5">
					<ul class="list-unstyled list-inline">
						<li><a href="#">Adout us</a></li>
						<li><a href="#">Privacy Statement</a></li>
						<li><a href="#">Terms of Reference</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>

	<!-- Load JS here for greater good =============================-->
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.cycle.all.js"></script>
	<script src="js/jquery.scrollTo-min.js"></script>
	<script src="js/master.js"></script>
</body>
</html>