{% load i18n %}
{% load account %}
{% load url from future %}
{% load bootstrap_toolkit %}

<!Doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <!-- Apple devices fullscreen -->
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <!-- Apple devices fullscreen -->
    <meta names="apple-mobile-web-app-status-bar-style" content="black-translucent"/>


    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
    <!-- Bootstrap responsive -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.min.css">
    <!-- icheck -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/plugins/icheck/all.css">
    <!-- Theme CSS -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
    <!-- Color CSS -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/themes.css">


    <!-- jQuery -->
    <script src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <!-- Nice Scroll -->
    <script src="{{ STATIC_URL }}js/plugins/nicescroll/jquery.nicescroll.min.js"></script>
    <!-- Validation -->
    <script src="{{ STATIC_URL }}js/plugins/validation/jquery.validate.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/validation/additional-methods.min.js"></script>
    <!-- icheck -->
    <script src="{{ STATIC_URL }}js/plugins/icheck/jquery.icheck.min.js"></script>
    <!-- Bootstrap -->
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/eakroko.js"></script>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico"/>
    <!-- Apple devices Homescreen icon -->
    <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}img/apple-touch-icon-precomposed.png"/>

</head>

<body class="login">
<div class="wrapper">
    <h1><a href="{% url "home" %}"><img src="{{ STATIC_URL }}img/logo-big.png" alt="" class="retina-ready" width="59"
                                        height="49">SITE NAME</a></h1>

    <div class="login-body">
        <h2>{% trans "Forget password?" %}</h2>

        <form class="form-validate" method="POST" action="">
            {% if password_reset_form.non_field_errors %}
                {% include "bootstrap_toolkit/non_field_errors.html" %}
            {% endif %}
            {% csrf_token %}
            <div class="control-group {% if password_reset_form.email.errors %}error{% endif %}">
                <div class="email controls">
                    <input type="text" id="id_email" name="email" placeholder="Email address" class="input-block-level"
                           data-rule-required="true" data-rule-email="true">
                    {% if password_reset_form.email.errors %}
                        {% for error in password_reset_form.email.errors %}
                            <span for="id_password" class="help-block error">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

            <div class="submit">
                <input type="submit" value="{% trans "Reset My Password" %}" class="btn btn-primary">
            </div>
        </form>
        <div class="forget">
            <a href="{% url "account_login" %}"><span>{% trans "Login" %}</span></a>
            <a href="{% url "account_signup" %}"><span>{% trans "Don't have account?" %}</span></a>
        </div>
    </div>
</div>
</body>

</html>

