{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap_toolkit %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>
            <img src="{{ STATIC_URL }}img/glyphicons/png/glyphicons_235_pen.png">
            {% trans "Set Password" %}
        </h1>
    </div>

    <form method="POST" action="" class="form-horizontal">
        {% csrf_token %}
        {{ password_set_form|as_bootstrap }}
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-primary">{% trans "Set Password" %}</button>
            </div>
        </div>
    </form>
{% endblock %}
