{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}
{% load bootstrap_toolkit %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>
            <img src="{{ STATIC_URL }}img/glyphicons/png/glyphicons_235_pen.png">
            {% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}
        </h1>
    </div>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please
            request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="" class="form-horizontal">
                {% csrf_token %}
                {{ form|as_bootstrap }}
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-primary">
                            {% trans "change password" %}
                        </button>
                    </div>
                </div>
            </form>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
{% endblock %}
