{% extends "base.html" %}

{% block title %}Page Not found{% endblock %}

{% block page_title %}Page Not found{% endblock page_title %}

{% block content %}
    <h1 style="width: 50%; margin: 0 auto;">Excuse me, but there has been some sort of mistake...</h1><br>

    <div style="width: 50%; margin: 0 auto;">
        <p>
            <iframe class="youtube-player" frameborder="0" height="385" src=
                    "http://www.youtube.com/embed/JrdEMERq8MA" width="640"></iframe>
        </p>

        <p>Sorry, we cannot find what you are looking for. But do stay tuned for the bagpipes. Speaking of which...</p>

        <p>
            <iframe class="youtube-player" frameborder="0" height="385" src=
                    "http://www.youtube.com/embed/Kewfy5pMeWA" width=
                            "640"></iframe>
        </p>
        <br>
    </div>
{% endblock content %}