{% load i18n bootstrap_toolkit custom_message_tags %}

<div class="tab-pane {% if message_flag == "outbox" %}active{% endif %}">
    <div class="highlight-toolbar">
        <div class="pull-left">
            <div class="btn-toolbar">
                {% comment %}<div class="btn-group hidden-768">
                    <div class="dropdown">
                        <a href="#" class="btn" data-toggle="dropdown" rel="tooltip" data-placement="bottom"
                           title="" data-original-title="Mark elements">
                            <i class="icon-check-empty"></i>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#" class="sel-all">
                                    {% trans "All" %}
                                </a>
                            </li>
                            <li>
                                <a href="#" class="sel-unread">
                                    {% trans "Unread" %}
                                </a>
                            </li>
                            <li>
                                <a href="#" class="sel-read">
                                    {% trans "Read" %}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="btn-group">
                    <a href="#" class="btn" rel="tooltip" data-placement="bottom" title=""
                       data-original-title="Refresh results">
                        <i class="icon-refresh">
                        </i>
                    </a>
                </div>{% endcomment %}

                <div class="btn-group">
                    <a href="#" class="btn btn-message-delete" rel="tooltip" data-placement="bottom" title=""
                       data-original-title="Delete">
                        <i class="icon-trash"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="pull-right">
            <div class="btn-toolbar">
                {% if send_paginator.num_pages > 1 %}
                    {{ send_paginator|message_pagination }}
                {% endif %}
            </div>
        </div>
    </div>
    <table class="table table-striped table-nomargin table-mail">
        <thead>
            <tr>
                <th class="table-checkbox hidden-480">
                    <input type="checkbox" class="sel-all">
                </th>
                <th class="table-icon hidden-480"></th>
                <th>{% trans "Sender" %}</th>
                <th>{% trans "Subject" %}</th>
                <th class="table-icon hidden-480"></th>
                <th class="table-date hidden-480">{% trans "Date" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for message in send_paginator.object_list %}
                <tr {% if message.is_new %}class="unread"{% endif %} data-message-detail-url="{% url "message_detail" message.id %}">
                    <td class="table-checkbox hidden-480">
                        <input type="checkbox" class="selectable" value="{{ message.id }}">
                    </td>
                    <td class="table-icon hidden-480"></td>
                    <td class="table-fixed-medium">{{ message.sender.userprofile.get_full_name }}</td>
                    <td>{{ message.subject }}</td>
                    <td class="table-icon hidden-480"></td>
                    <td class="table-date hidden-480">{{ message.sent_at|date:"M/d" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>