{% load i18n bootstrap_toolkit custom_message_tags %}

<div class="tab-pane {% if message_flag == "trash" %}active{% endif %}">
    <div class="highlight-toolbar">
        <div class="pull-left">
            <div class="btn-toolbar">
                <div class="btn-group">
                    <a href="#" class="btn btn-message-undo" rel="tooltip" data-placement="bottom" title=""
                       data-original-title="Undo">
                        <i class="icon-arrow-left"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="pull-right">
            <div class="btn-toolbar">
                {% if trash_paginator.num_pages > 1 %}
                    {{ trash_paginator|message_pagination }}
                {% endif %}
            </div>
        </div>
    </div>
    <table class="table table-striped table-nomargin table-mail">
        <thead>
            <tr>
                <th class="table-checkbox hidden-480">
                    <input type="checkbox" class="sel-all">
                </th>
                <th class="table-icon hidden-480"></th>
                <th>{% trans "Sender" %}</th>
                <th>{% trans "Subject" %}</th>
                <th class="table-icon hidden-480"></th>
                <th class="table-date hidden-480">{% trans "Date" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for message in trash_paginator.object_list %}
                <tr data-message-detail-url="{% url "message_detail" message.id %}">
                    <td class="table-checkbox hidden-480">
                        <input type="checkbox" class="selectable" value="{{ message.id }}">
                    </td>
                    <td class="table-icon hidden-480"></td>
                    <td class="table-fixed-medium">{{ message.sender.userprofile.get_full_name }}</td>
                    <td>{{ message.subject }}</td>
                    <td class="table-icon hidden-480"></td>
                    <td class="table-date hidden-480">{{ message.sent_at|date:"M/d" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>