{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <div id="main" class="container-fluid">
        <div class="page-header breadcrumbs">
            <ul>
                <li>
                    <a href="{% url "home" %}">{% trans "Home" %}</a>
                    <i class="icon-angle-right"></i>
                </li>
                <li>
                    {% if request.session.user_type == "participant" %}
                        <a href="{% url "participant" %}">{% trans "Participant" %}</a>
                    {% elif request.session.user_type == "scientist" %}
                        <a href="{% url "scientist" %}">{% trans "Scientist" %}</a>
                    {% elif request.session.user_type == "department" %}
                        <a href="{% url "department" %}">{% trans "Department" %}</a>
                    {% endif %}
                    <i class="icon-angle-right"></i>
                </li>
                <li>
                    <a href="{% url "userprofile" user.username %}">{% trans "User profile" %}</a>
                </li>
            </ul>
            <div class="close-bread">
                <a href="#"><i class="icon-remove"></i></a>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="box box-color box-bordered">
                    <div class="box-title">
                        <h3>
                            <i class="icon-user"></i>
                            {% trans "Edit user profile" %}
                        </h3>
                    </div>
                    <div class="box-content nopadding">
                        {% block userprofile_tab %}{% endblock %}
                        <div class="tab-content padding tab-content-inline tab-content-bottom">
                            <div class="tab-pane active">
                                {% block userprofile_panel %}{% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}